# Data Cleaning Tasks Bengaluru_Ride_Data

In [ ]:
import pandas as pd 


df = pd.read_csv('bengaluru_ride_data.csv')

# Removing Duplicate From datset 
df = df.drop_duplicates()

# Fill driver_rating with mean rating per driver_id
df['Driver Ratings'] = df['Driver Ratings'].fillna(df['Driver Ratings'].mean())

# Fill fare_amount (Booking Value) with median fare per city
df['Booking Value'] - df['Booking Value'].fillna(df['Booking Value'].median())


# 4. Convert trip_start_time & trip_end_time into proper datetime format
df['trip_start_time'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d-%m-%Y %H:%M')

df['trip_end_time'] = df['trip_start_time'] 

df = df[df['Booking Value'] >= 0]

# 6. Extract date, day_of_week, and hour from trip_start_time

df['Date'] = df['trip_start_time'].dt.date
df['Days_of_week'] = df['trip_start_time'].dt.day_name()
df['Hour']  = df['trip_start_time'].dt.hour

# 7. Normalize pickup_location & drop_location
# Removeing extra spaces and standardize cas
df['Pickup Location'] = df['Pickup Location'].str.strip().str.title()
df['Drop Location'] = df['Drop Location'].str.strip().str.title()

# Arranging Columns
arranged_columns = [
    'Booking Id', 
    'Customer Id', 
    'Vehicle Type', 
    'Pickup Location', 
    'Drop Location',
    'Trip Start Time', 
    'Trip End Time', 
    'Date', 
    'Days Of Week', 
    'Hour',
    'Booking Value', 
    'Ride Distance', 
    'Driver Ratings', 
    'Customer Ratings',
    'Avg Vtat', 
    'Avg Ctat', 
    'Booking Status', 
    'Cancelled Rides By Customer',
    'Reason For Cancelling By Customer', 
    'Cancelled Rides By Driver',
    'Reason For Cancelling By Driver', 
    'Incomplete Rides', 
    'Incomplete Rides Reason'
]

column_mapping = {
    'Trip_Start_Time': 'Trip Start Time',
    'Trip_End_Time': 'Trip End Time',
    'Days_Of_Week': 'Days Of Week'
}

# Renaming Columns
df.columns = [col.title() for col in df.columns]
df.columns = [column_mapping.get(col, col) for col in df.columns]
df = df[arranged_columns]

# EXporting Cleaned Data
# df.to_csv('cleaned_bengaluru_ride_data.csv', index=False)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
user = 'root'  # Replace with your MySQL username
password = 'your_password'  # Replace with your MySQL password
host = 'localhost'
database = 'OLA'

# Create SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

# Read CSV file
csv_path = r'C:\Users\Tahseen Ashrafi\Documents\LEARNING\DATA ANLYTIC PROJECTS\OLA\cleaned_bengaluru_ride_data.csv'
df = pd.read_csv(csv_path)

# Convert date columns to correct format
df['Trip_Start_Time'] = pd.to_datetime(df['Trip_Start_Time'], format='%d-%m-%Y %H:%M')
df['Trip_End_Time'] = pd.to_datetime(df['Trip_End_Time'], format='%d-%m-%Y %H:%M')
df['Trip_Date'] = pd.to_datetime(df['Trip_Date'], format='%d-%m-%Y')

# Load data into MySQL
df.to_sql('Ola_Database', con=engine, if_exists='append', index=False)

print("Data loaded successfully!")

ModuleNotFoundError: No module named 'mysql'

In [ ]:
import pandas as pd 
df = pd.read_csv('bengaluru_ride_data.csv')

# Removing Duplicate From datset
df.drop_duplicates()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Ratings
0,21-07-2025,12:46,BKG000001,Success,CUST22779,Mini,BTM Layout,Hoodi,9.0,17.0,0,NaN,0,NaN,0,NaN,300.22,1.21,4.4,4.5
1,04-07-2025,22:21,BKG000002,Incomplete Ride,CUST59489,Mini,Old Airport Road,Old Airport Road,NaN,NaN,0,NaN,0,NaN,1,Customer Demand,NaN,NaN,NaN,NaN
2,01-07-2025,08:56,BKG000003,Cancelled by Customer,CUST98578,Prime Sedan,Yelahanka,Vasanth Nagar,NaN,NaN,1,AC is not working,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,24-07-2025,18:15,BKG000004,Success,CUST38654,Prime Sedan,Hebbal,Chickpet,7.0,8.0,0,NaN,0,NaN,0,NaN,968.83,29.06,4.1,3.4
4,09-07-2025,08:58,BKG000005,Success,CUST10073,Prime Sedan,KR Puram,Shivajinagar,8.0,10.0,0,NaN,0,NaN,0,NaN,850.24,2.95,4.0,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,12-07-2025,22:24,BKG099996,Cancelled by Customer,CUST33206,Mini,Wilson Garden,Hebbal,NaN,NaN,1,Wrong Address,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99996,28-07-2025,02:32,BKG099997,Cancelled by Customer,CUST13907,Mini,Banerghatta Road,Majestic,NaN,NaN,1,Wrong Address,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,27-07-2025,18:48,BKG099998,Cancelled by Customer,CUST86960,Auto,Domlur,Jayanagar,NaN,NaN,1,Change of plans,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99998,24-07-2025,07:04,BKG099999,Success,CUST30296,Bike,Hennur,Nagarbhavi,6.0,8.0,0,NaN,0,NaN,0,NaN,107.43,1.12,4.9,3.1
99999,14-07-2025,13:59,BKG100000,Success,CUST72620,Auto,BTM Layout,Anand Rao Circle,12.0,20.0,0,NaN,0,NaN,0,NaN,427.69,4.78,4.4,4.7